.modalx{
    position: fixed;
    z-index: 10000;
    background-color: var(--back-color);
    height: 100vh;
    width: 100vw;
    color: var(--text-color);
    overflow: auto;
}
.modalx-searchBox{
    width: 87%;
    margin: 0px auto;
}
.modalx-searchBox form{
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modalx-searchBox form input{
    background-color: var(--back-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}
.modalx-searchBox input[type='text']{
    font-size: 2rem;
    font-weight: 500;
}
.modalx-searchBox input{
    width: 90%;
    height: 5vh;
}
.modalx-searchBox-keyword{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 1.7%;
    font-size: 2rem;
    font-weight: 700;
   
}
.modalx-searchedContent{
    width: 87%;
    margin: 0px auto;
    overflow-y: auto;
}
.modalx-searchBox-keyword p{
    cursor: pointer;
}
.active-topic{
    color: rgb(8, 243, 67);
}
@media screen and (max-width:800px) {
    .modalx-searchBox-keyword{
        display: none;
    }
}
